<h1>Привет! Пожалуйста, подтверди свою почту!</h1>

<p>
    Подтверди свою почту в Рофлолиге. Просто нажми на данную ссылку: <br><br>
    <a href="{{ signedUrl }}">подтвердить.</a>.
    Ссылка истечет в течение:  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Спасибо!
</p>
