{% extends 'base.html.twig' %}

{% block title %}New Discipline{% endblock %}

{% block body %}
    <h1>Create new Discipline</h1>

    {{ include('discipline_admin/_form.html.twig') }}

    <a href="{{ path('app_discipline_admin_index') }}">back to list</a>
{% endblock %}
