{% extends 'base.html.twig' %}

{% block title %}Текущие турниры!{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container">
        <div class="d-flex justify-content-center">
            <span class="h2">
                Текущие турниры
            </span>
        </div>
        <hr>
        {% if tourneys|length == 0 %}
            <span>Извините, в текущий момент нет активных турниров</span>
        {% else %}
            {% for tourney in tourneys %}
                {{ include('tourney/_tourney.html.twig', { 'tourney': tourney }) }}
            {% endfor %}
        {% endif %}
    </div>

    {{ include('footer.html.twig') }}
{% endblock %}
