{% extends 'base.html.twig' %}

{% block title %}Сезоны турнира{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}

    <div class="container" {{ stimulus_controller('seasons') }}>
        <div id="tourney-head" class="d-flex flex-column align-items-center">
            <span class="h2">
                    Сезоны турнира {{ tourney.name }}
            </span>
            {% if tourney.currentSeason is null %}
                <div class="form-floating mb-3 w-100">
                    <input type="text" class="form-control" id="challongeId" placeholder="Challonge ID">
                    <label for="challongeId">Challonge ID</label>
                </div>
                <button class="btn btn-outline-primary w-100">Новый сезон</button>
            {% endif %}
        </div>

        {% if tourney.currentSeason %}
            <div id="current-season">
                <hr>
                <span class="h4">Текущий сезон</span>
            </div>
        {% endif %}


        {% if tourney.seasons.count > 0 %}
            <div id="previous-seasons">
                <hr>
                <span class="h4">Предыдущие сезоны</span>
            </div>
        {% endif %}
    </div>

    {{ include('footer.html.twig') }}

{% endblock %}