@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "crisp.css";

.minified {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}