<div class="container">
    <footer class="footer pt-3 mt-4 mb-4 border-top d-flex justify-content-between align-items-center">
        <div class="text-muted">
            <span>© 2022 - {{ "now"|date('Y') }}</span>
        </div>
        <a href="https://vk.com/roflanleague" class="d-flex text-decoration-none">
            <i class="fa-brands fa-vk fa-2x"></i>
        </a>
    </footer>
</div>