{% extends 'base.html.twig' %}

{% block title %}История{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container d-flex justify-content-center">
        <span class="h3">Данный раздел находится в разработке.</span>
    </div>

    {{ include('footer.html.twig') }}
{% endblock %}
